body {
  background-color: rgb(250, 244, 230);
  font-family: sans-serif;
  font-size: large;
}

.ResourceManager {
  width: fit-content;
}

.PlusMinusBox {
  display: inline-block;
  margin: 10px;
}

.ResourcePicture {
  display: flex;
  justify-content: center;
}

.ResourceValue {
  display: flex;
  justify-content: center;
}

.PlusMinusButton {
  height: 30px;
  width: 30px;
  margin: 2px;
}

.Text {
  display: flex;
  justify-content: center;
}

.Buttons {
  display: inline-flex;
}

.Button {
  text-align: center;
  width: 138px;
  padding: 10px;
  margin: 9px;
  border-radius: 7px;
  color: rgb(250, 244, 230);
}

.ButtonActive {
  background-color: rgb(168, 73, 75);
  cursor: pointer;
}

.ButtonInactive {
  background-color: rgb(189, 168, 93);
  cursor: default;
  opacity: 0.7;
}