body {
  background-color: #fcf5e8;
  font-family: sans-serif;
  font-size: large;
}

.PlusMinusBox {
  display: inline-block;
  margin: 10px;
}

.ResourcePicture {
  display: flex;
  justify-content: center;
}

.ResourceValue {
  display: flex;
  justify-content: center;
}

.PlusMinusButton {
  height: 30px;
  width: 30px;
  margin: 2px;
}
