.Counter {
  display: inline-block;
  margin: 5px 10px 0 10px;
}

.Counter .Description {
  display: flex;
  justify-content: center;
}

.Counter .Value {
  display: flex;
  justify-content: center;
}

.Counter .Buttons .Button {
  margin: 5px 5px 0 5px;
}
